@chasert "utf-8";

html{
  box-sizing: border-box;

}
body{
  box-sizing: border-box;
    height: auto;
    /* background: linear-gradient(to bottom, #fff, #ffc778 30%, #f89174 60%, #748af8); */
    /* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    /* background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); */
    /* background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); */
    /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */
    background-size: cover;
    background-attachment: fixed;
}


header{
  position: relative;
}

.logout-title{
  display: block;
  position: absolute;
  width: 50%;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.logout-title h1{
  text-align: center;
}

.logout-title-name{
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
}

#container{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  border-radius: 10px;
}

.login-menu{
  display: block;
}

.txt{
  letter-spacing: 5px;
  padding: 5px;
  color: #fff;
  text-align: center;
}

.login-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 1rem;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 10px;   /* 余白       */
  background    : #4682b4;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #4682b4;    /* 枠の指定 */
}
.login-btn:hover {
  color         : #4682b4;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


.txt a{
  display: block;
  padding-top: 10px;
  color: #fff;
  font-size: 0.8rem;
}

.help-block{
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-color: #ede8ee;
  color: #423d43;
  border-radius: 5px;
  font-size: 0.8rem;
}

@media screen and (max-width: 480px) {
  .logout-title{
    display: block;
    width: 100%;
  }
  #container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    background: rgba(0, 0, 0, 0.3);
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
  }
}
